body
{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

.main{
    width: 50%;
    margin: 0 auto 0;
    padding-bottom: 50px;
}

.code{
    text-align: left;
    padding-top: 30px;
}


.container{
    background-color: #EAF6F6 ;
    text-align: center;
    position: relative;
}
div{
    margin: 0;
}
.photoshop{
    text-align: left;
    padding-top: 30px;
}
.chill{
    width: 130px;
    float: right;
    padding-left: 10px;

}
.profile{
    width: 130px;
    margin-top: 30px;
}

.com{
    border-radius: 50%;
    float: left;
    width: 130px;
    padding-right: 20px;
}

.sk{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0 auto 0 auto;
}

.sub{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: #66BFBF;
}

.cloud-1{
    position: absolute;
    top: 30px;
    right: 350px;

}

.cloud-2{
    position: absolute;
    
}
h2,h3{
    color: #66BFBF;
}

h1{
    padding-top: 120px;
    margin: 0;
    font-family: 'Pacifico', cursive;
    font-size: 3.26rem;
    font-weight: 100;
    color: #66BFBF;
}
p{
    font-family: 'Poppins', sans-serif;
    color: #40514E;
    line-height: 2;
    font-size: 14px;

    
}
.copy{
    color: #EAF6F6;
    font-size: 10px;
    margin-top: 1rem;
}

.footer{
    background-color: #66BFBF;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a{
    color: #11999E;
    text-decoration: none;
    font-size: medium;
    margin: 20px 15px ;
    font-weight: 700;
}

hr
{
    border-style: dotted;
    border-color: #c3c3c3;
    border-top: 10px;
    width: 8%;
    border-width: 8px;
}
.ans{
    color: #EAF6F6;
    background-color: #66BFBF;
    margin-top:30px;
}